<!-- Subscribe -->
<section id="subscribe" class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 mb-lg-0 mb-md-0 mb-sm-3 mb-3">
                <div class="title">Subscribe To Our Newsletter</div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-3 mb-lg-0 mb-md-0 mb-sm-3 mb-3">
                <input type="text" class="form-control" placeholder="Type your name"> 
            </div>
            <div class="col-lg-3 col-md-3 mb-lg-0 mb-md-0 mb-sm-3 mb-3">
                <input type="text" class="form-control" placeholder="Type your valid email"> 
            </div>
            <div class="col-lg-3 col-md-3 mb-lg-0 mb-md-0 mb-sm-3 mb-3">
                <button class="btn btn-white-outline w-100">Subscribe <img src="" alt=""></button>
            </div>
        </div>
    </div>
</section>
<!-- /Subscribe -->
<!-- Footer -->
<footer id="footer" class="position-relative pt-5 pb-5">
    <div class="footer-left-bg position-absolute"><img src="assets/imgs/footer-left-bg.png" alt="" height="200"></div>
    <div class="footer-right-bg position-absolute"><img src="assets/imgs/footer-right-bg.png" alt="" height="200"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4"> <img src="assets/imgs/white-logo.png" height="70" alt="" class="mb-3">
                <p>Al Azhar General Hospital is utilizing the national healthcare delivery system entrusted with the provision of preventive and curative healthcare for the Kingdom's population.</p>
                <p>It is situated in Riyadh City, Central Region of Saudi Arabia. Certified for fifty (50) beds, the institution serves the people of Riyadh and its neighboring towns.</p>
            </div>
            <div class="col-lg-8 footer-links">
                <div class="row">
                    <div class="col-12">
                        <p class="imp-links">Important Links</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li><a href="index.php">Home</a></li>
                            <li><a href="#">Medical Specialist</a></li>
                            <li><a href="#">Research &amp; Development</a></li>
                            <li><a href="#">Medical Package</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li><a href="profile.php">About AAH</a></li>
                            <li><a href="#">Facilities</a></li>
                            <li><a href="#">Doctor's Timings</a></li>
                            <li><a href="#">Appointments</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-unstyled">                                
                            <li><a href="#">Patients &amp; Visitors</a></li>
                            <li><a href="knowledge-base-php">Knowledge Base</a></li>
                            <li><a href="#">Patient Testimonials</a></li>
                            <li><a href="#">Careers @ AAH</a></li>
                            <li><a href="refer-a-friend.php">Refer A Friend</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="list-inline d-flex justify-content-md-between bottom mt-lg-2">       
                            <li class="list-inline-item"><a href="insurance-partners.php">Insurance Partners</a></li>                         
                            <li class="list-inline-item"><a href="news-update.php">News &amp; Updates</a></li>
                            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                            <li class="list-inline-item"><a href="contact-us.php">Contact Us</a></li>
                            <li class="list-inline-item"><a href="faqs.php">FAQs</a></li>
                            <li class="list-inline-item"><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                
               <div class="row mt-lg-2">
                   <div class="col-12">                           
                        <ul class="list-inline footer-social-links">                            
                            <li class="list-inline-item"><a href="https://www.facebook.com"><img class="svg" src="assets/imgs/logo-facebook.svg" alt="" height="36"></a></li>
                            <li class="list-inline-item"><a href="https://www.twitter.com"><img class="svg" src="assets/imgs/logo-twitter.svg" alt="" height="36"></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com"><img class="svg" src="assets/imgs/logo-linkedin.svg" alt="" height="36"></a></li>
                            <li class="list-inline-item"><a href="https://www.youtube.com"><img class="svg" src="assets/imgs/logo-youtube.svg" alt="" height="36"></a></li>
                        </ul>
                   </div>
               </div>
            </div>
            <div class="clearfix"></div>
            <hr>
            <div class="col-lg-5 text-lg-left text-center"> <small class="text-grey">© 2013-2018 Al Azhar Hospitals. All rights reserved.</small> </div>
            <div class="col-lg-7 text-lg-right text-center"> <small class="text-yellow">This site can be viewed on all screen tones and all smart devices and supports all kinds of browsers </small> </div>
        </div>
    </div>
</footer>
<!-- /Footer -->
<!-- jQuery -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/main.js"></script>