<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-green p-0">
    <div class="container">
        <button class="navbar-toggler border-0 ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">Menu <span class="navbar-toggler-icon"></span> </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown active"> 
                    <a class="nav-link dropdown-toggle" href="#" id="aboutus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                    <div class="dropdown-menu" aria-labelledby="aboutus"> 
                        <a class="dropdown-item" href="profile.php">Profile</a> 
                        <a class="dropdown-item" href="chairman.php">Chairman Message</a> 
                        <a class="dropdown-item" href="vice-chairman.php">Vice Chairman Message</a> 
                        <a class="dropdown-item" href="ceo.php">CEO Message</a> 
                        <a class="dropdown-item" href="gm.php">GM Message</a> 
                        <a class="dropdown-item" href="deputy-gm.php">Deputy GM Message</a> 
                        <a class="dropdown-item" href="tqm-director.php">TQM Director Message</a> 
                        <a class="dropdown-item" href="medical-director.php">Medical Director Message</a> 
                        <a class="dropdown-item" href="management.php">Management</a> 
                        <a class="dropdown-item" href="mission-and-vision.php">Mission &amp; Vision</a> 
                    </div>
                </li>
                <li class="nav-item"> <a class="nav-link" href="our-specialists.php">Our Specialities</a> </li>
                <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="facilities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Facilities</a>
                   <div class="dropdown-menu" aria-labelledby="facilities"> 
                       <a class="dropdown-item" href="#">Medical Lab</a> 
                       <a class="dropdown-item" href="#">Pharmacy</a> 
                       <a class="dropdown-item" href="#">Insurance Companies</a> 
                       <a class="dropdown-item" href="#">Parking Facilities</a> 
                   </div>
                </li>
                <li class="nav-item"> <a class="nav-link" href="#">Appointment</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Packages</a> </li>
                <li class="nav-item dropdown"> 
                   <a class="nav-link dropdown-toggle" href="#" id="careers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Careers</a>
                   <div class="dropdown-menu" aria-labelledby="careers"> 
                       <a class="dropdown-item" href="available-vacancies.php">Available Vacancies</a> 
                       <a class="dropdown-item" href="apply-job.php">Apply Job</a> 
                   </div>
                </li>
                <li class="nav-item"> <a class="nav-link" href="#">Research</a> </li>
                <li class="nav-item dropdown"> 
                   <a class="nav-link dropdown-toggle" href="#" id="mediaCenter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Media Center</a>
                   <div class="dropdown-menu" aria-labelledby="mediaCenter"> 
                       <a class="dropdown-item" href="news-update.php">News &amp; Events</a> 
                       <a class="dropdown-item" href="photo-gallery.php">Photo Gallery</a> 
                       <a class="dropdown-item" href="video-gallery.php">Video Gallery</a> 
                   </div>
                </li>
                <li class="nav-item"> <a class="nav-link" href="contact-us.php">Contact Us</a> </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /NavBar -->